@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
}

html {
  font-family: 'Open Sans', sans-serif;
}

.main-header .logo {
    font-weight: bold;
    font-size: 24px;
}

.text-muted {
  color: #111;
  font-weight: 300;
  font-size: 0.9em;
}

.skin-orange .main-header .logo:hover {
    background-color: #b36b00;
}

.nav-tabs-custom .nav-tabs li.active:hover a,
.nav-tabs-custom .nav-tabs li.active a {
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #ff9900;
    font-weight: 700;
    letter-spacing: 0.1em;
    
}

.js-irs-0 .irs-single,
.js-irs-0 .irs-bar-edge,
.js-irs-0 .irs-bar {
    background: orange
}

.js-irs-1 .irs-single,
.js-irs-1 .irs-bar-edge,
.js-irs-1 .irs-bar {
    background: orange
}

.js-irs-2 .irs-single,
.js-irs-2 .irs-bar-edge,
.js-irs-2 .irs-bar {
    background: orange
}

.pagination a:hover:not(.active) {
    background-color: orange;
}

.pagination>li.active>a {
    background: orange;
    color: white;
}